{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}

<div class="container">
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <label for="username">Username</label>
    <div>{% render_field form.username class="username-input"%}</div>

    <label for="password">Password</label>
    <div>{% render_field form.password class="password-input" %}</div>

    <!-- render errors fo wrong credentials -->
    {% if form.non_field_errors %}
    <div class="error">
      {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}

    <button type="submit" class="submit"><p>Login</p></button>
  </form>

  <div class="link-text">
    <p>Dont have any account? <a href="{% url 'signup' %}">register</a></p>
  </div>
</div>

{% endblock %}
